# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# Explicit project files and directories
code/build/debug/*.exe
code/build/debug/*.xml
code/build/debug/*.ilk
code/build/debug/*.pdb
code/build/debug/moc/
code/build/debug/moc/moc_*.cpp
code/build/debug/moc/moc_*.h
code/build/debug/obj/
code/build/debug/obj/*.obj
code/build/debug/obj/*.o
code/build/debug/obj/*.vc.pdb
code/build/debug/rcc/
code/build/debug/rcc/qrc_*.cpp
code/build/debug/uci/
code/build/debug/uci/ui_*.h

code/build/release/*.exe
code/build/release/*.xml
code/build/release/*.ilk
code/build/release/*.pdb
code/build/release/moc/
code/build/release/moc/moc_*.cpp
code/build/release/moc/moc_*.h
code/build/release/obj/
code/build/release/obj/*.obj
code/build/release/obj/*.o
code/build/release/obj/*.vc.pdb
code/build/release/rcc/
code/build/release/rcc/qrc_*.cpp
code/build/release/uci/
code/build/release/uci/ui_*.h

code/.qmake.cache
code/.qmake.stash
code/*.pro.user
code/*.pro.user.*
code/*.qbs.user
code/*.qbs.user.*
code/*.qmlc
code/*.jsc
code/Makefile*
code/*.qm
code/*.prl
code/target_wrapper.*
code/*.autosave
code/CMakeLists.txt.user*
code/*creator.user*

.svn
.DS_Store
.DS_Store?
._*